<launch>
    <!-- Launch joy_node -->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    </node>

    <!-- Launch the custom joystick driver -->
    <node name="joystick_driver" pkg="joystick_node" type="joystick_serial.py" output="screen" required="true">
    </node>
</launch>
